body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.login-container {
    margin: auto;
    text-align: center;
    width: 50%;
    background-color: rgb(214, 214, 214);
    padding: 2vw 1vw;
    border-radius: 10px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.Registration {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 2vw 1vw;
    background-color: rgb(250, 194, 194);
    border-radius: 0 0 10px 10px;
    }
input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    padding: 1vw 1vw;
    outline: none;
    margin: 5px;
    }

.submit_button {
    background-color: rgb(129, 129, 129);
    color :rgb(214, 214, 214)
}

.error {
    color: red;
}