body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #4b4c4c;
    }


    input:placeholder-shown {
        font-style: italic;
     }

.login-container {
    /* display: flex; */
    /* margin-top: 17vw; */
    margin: auto;
    margin-bottom: 25vw;
    text-align: center;
    background-color: rgb(214, 214, 214);
    padding: 3vw 3vw;
    border-radius: 10px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-width: thin;
    border-color: black;
    }

.Registration {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 2vw 1vw;
    background-color: rgb(250, 194, 194);
    border-radius: 0 0 10px 10px;
    }

.userData {
    margin: auto;
    text-align: center;

}

.userData input {
    margin: 1vw;
    border: 1px solid #707070;
    border-radius: 0.4rem;
    padding: 1vw 1vw;
    outline: none;
    width: 200px;
    }

.submit_button {
    background-color: rgb(129, 129, 129);
    color :rgb(214, 214, 214)
}

.error {
    color: red;
}